<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Youtube Subscriptions</title>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">Your Subscriber List</h1>
      <ul>
      <% subscriptions.forEach(function (subscription){%>
        <a target ="_blank" href="https://www.youtube.com/channel/<%=subscription.snippet.resourceId.channelId%>"><img class="img-rounded" src="<%=subscription.snippet.thumbnails.default.url%>"/></a>
          <%}) %>
      </ul>
    </div>
  </body>
</html>
